@using System.Reflection
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model AppointmentUpdateRequest

@{
    Layout = "_DashboardLayout";
}
@Model.Id
<br/>
@Model.Interview
<br/>
@Model.Diagnosis
<br/>
@Model.Recommendations
<br/>
@Model.Notes
<br/>

@foreach (var item in Model.Prescriptions)
{
    <h4>Acces: @String.Concat(item.FirstDigit, item.SecondDigit, item.ThirdDigit, item.FourthDigit)</h4>
    <h4>Information: @item.Information</h4>
}
<form asp-controller="Appointments" asp-action="Save" method="post">
    <input asp-for="Id" type="hidden"/>
    <input asp-for="Interview" type="hidden"/>
    <input asp-for="Diagnosis" type="hidden"/>
    <input asp-for="Recommendations" type="hidden"/>
    <input asp-for="Notes" type="hidden"/>
    @for (int i = 0; i < @Model.Prescriptions.Count; i++)
    {
        <input asp-for="Prescriptions[i].FirstDigit" type="hidden">
        <input asp-for="Prescriptions[i].SecondDigit" type="hidden">
        <input asp-for="Prescriptions[i].ThirdDigit" type="hidden">
        <input asp-for="Prescriptions[i].FourthDigit" type="hidden">
        <input asp-for="Prescriptions[i].Information" type="hidden">
        <input asp-for="Prescriptions[i].AppointmentId" type="hidden">
    }
    <label asp-for="Finished" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">End appointment</label>
    <div class="mb-4 px-4 py-4 text-gray-700 border border-gray-200 rounded-lg bg-gray-50 md:flex">
        <div class="my-auto">
            <label class="relative inline-flex items-center cursor-pointer my-auto">
                <input type="checkbox" name="Finished" value="true" class="sr-only peer">
                <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                <span class="ms-3 text-sm font-medium text-gray-900"></span>
            </label>
        </div>
        <div class="my-auto">
            <p class="text-xs leading-tight text-justify text-grey-400"> If the end of the appointment is not marked, after clicking the Save button, the appointment will go to the "during" state and you will be able to return to it. Once selected, the appointment is saved and goes to a "finished" state.</p>
        </div>
    </div>
    <button type="submit">Zapisz </button>
</form>
<a asp-action="AddPrescription">asdadas</a>