@model DocHub.Core.Domain.Models.TodayAppointments
@{
    Layout = "_DashboardLayout";
    ViewBag.CurrentUrl = "today/index";
}


<div class="w-4/5 mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-50 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800" id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
        <li class="me-2">
            <button id="about-tab" data-tabs-target="#about" type="button" role="tab" aria-controls="about" aria-selected="true" class="inline-block p-4 text-blue-600 rounded-ss-lg hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-blue-500">Today</button>
        </li>
        <li class="me-2">
            <button id="statistics-tab" data-tabs-target="#statistics" type="button" role="tab" aria-controls="statistics" aria-selected="false" class="inline-block p-4 hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300">Stats</button>
        </li>
    </ul>
    <div id="defaultTabContent">
        <div class="hidden p-2 bg-white rounded-lg md:p-8" id="about" role="tabpanel" aria-labelledby="about-tab">
            <div class="flex space-x-4 justify-between">
                <h2 class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 ">@DateTime.Now.Date.ToString("dd MMMM yyyy")</h2>
                <div class="flex">
                    <svg class="w-[36px] h-[36px] text-gray-800 dark:text-white mr-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M10 6v4l3.276 3.276M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                    </svg>
                    <div id="clock" class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900"></div>

                </div>
            </div>
            <p class="mb-3 text-gray-500 dark:text-gray-400">All appointments booked for today.</p>
            <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-3">
                    <li class="inline-flex items-center">
                        <a asp-controller="Dashboard" asp-action="Index" class="inline-flex items-center text-sm font-medium text-gray-600 hover:text-blue-600 dark:text-gray-400">
                            <svg class="w-[12px] h-[12px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                                <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
                            </svg>
                            &nbsp; Dashbaord
                        </a>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="w-3 h-3 text-gray-600 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                            </svg>
                            <p class="ml-1 text-sm font-medium hover:text-blue-700 md:ml-2 text-blue-600">Today</p>
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="hidden p-2 bg-white rounded-lg md:p-8 mx-auto" id="statistics" role="tabpanel" aria-labelledby="statistics-tab">
            <div class="flex justify-between">
                <div class="w-1/3 p-4 text-center">
                    <p class="mb-2 text-3xl font-extrabold">@Model.Count</p>
                    <p class="text-gray-500 dark:text-gray-400">Visits today</p>
                </div>
                <div class="w-1/3 p-4 text-center">
                    <dt class="mb-2 text-3xl font-extrabold">1</dt>
                    <dd class="text-gray-500 dark:text-gray-400">Completed visits</dd>
                </div>
                <div class="w-1/3 p-4 text-center">
                    <dt class="mb-2 text-3xl font-extrabold">3</dt>
                    <dd class="text-gray-500 dark:text-gray-400">Visits left</dd>
                </div>
            </div>
        </div>
    </div>
</div>

@foreach (var appointment in Model.Appointments)
{
    int counter = 0;
    var sendMessageTooltipId = "sendMessageTooltip" + counter;
    var patientProfileTooltipId = "patientProfileTooltip" + counter;
    var removeVisitToolTopId = "RemoveVisitTooltip" + counter;
    <div class="w-4/5 mx-auto rounded-lg border border-gray-200 bg-white text-left shadow mt-3">

        <div class="p-6">
            <div class="flex justify-between space-x-4">
                <div>
                    <div class="flex">
                        <h1 class="font-bold text-gray-900">@appointment.Start.Value.ToString("HH:mm")</h1>
                        <span class="ml-1 inline-flex items-center bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
                            <span class="w-2 h-2 me-1 bg-green-500 rounded-full"></span>
                            Actual
                        </span>
                    </div>
                    <p class="text-sm text-gray-500">
                        Patient: @appointment.PatientName @appointment.PatientLastName
                    </p>
                </div>
                <div class="flex">
                    <button type="button" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-1 my-auto">
                        Start visit
                        <svg class="inline-flex w-2 h-3 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 14 16">
                            <path d="M0 .984v14.032a1 1 0 0 0 1.506.845l12.006-7.016a.974.974 0 0 0 0-1.69L1.506.139A1 1 0 0 0 0 .984Z"/>
                        </svg>
                    </button>
                    <div class="my-auto me-1">
                        <a href="#">
                            <svg class="w-[20px] h-[20px] text-gray-800 dark:text-white" data-tooltip-target="@patientProfileTooltipId" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 11 14H9a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 10 19Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                              </svg>
                        </a>
                    </div>
                    <div class="my-auto me-1">
                        <a href="#">
                            <svg class="w-[20px] h-[20px] text-gray-900" data-tooltip-target="@sendMessageTooltipId" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 2-8.4 7.05a1 1 0 0 1-1.2 0L1 2m18 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1m18 0v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2"/>
                            </svg>
                        </a>
                    </div>
                    <div class="my-auto me-1">
                        <a href="#">
                            <svg class="w-[20px] h-[20px] text-gray-900" data-tooltip-target="@removeVisitToolTopId" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m13 7-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="@sendMessageTooltipId" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        Send email
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
    <div id="@patientProfileTooltipId" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        Check patient profile
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
    <div id="@removeVisitToolTopId" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        Cancel appointment
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
}


